.background {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 35px auto 5px auto;
  display: flex;
  flex-direction: column;
  width: 45%;
}

.login-container {
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
}

.projectsTableContainer {
  display: flex;
  margin-right: 6vw;
  flex-direction: column;
  width: 80%;
}

.projectPage {
  margin: 35px 5% 5px 5%;
  display: flex;
  justify-content: space-between;
}

.Simpleinput {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
